.DS_Store
.vscode/
requirement/django/app/.env

# Ignore all files in uploads/avatars
requirement/django/app/uploads/avatars/*

# Except for default.jpg
!requirement/django/app/uploads/avatars/default.png

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
#*.sqlite3
db.sqlite3
#media
#local_settings.py

# selenium
node_modules/