<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baby cadet</title>
    <script type="module" src="../static/frontend/js/dashBoard.js" ></script>
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
</head>
<body>
    {% csrf_token %}
    <input type="hidden" name="owner_id" value="{{ user.id }}">
    <input type="hidden" name="username" value="{{ user.username }}">
    <input type="hidden" name="avatar" value="{{ user.avatar }}">
    <dashboard-component></dashboard-component>
</body>
</html>