<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Baby cadet</title>
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <script src="./static/frontend/js/index.js"  type="module"></script>
</head>
<style>
	body{
	margin: 0px;
	font-family: poppins, sans-serif;
	/* background-color: red; */
	/* background-color: #F8F9FA; */
	}
</style>
<body >
    {% csrf_token %}
		<main-page></main-page>
</body>

</html>