#liveChat {
	margin-top: 2vh;
	height: 47vh;
	min-height: 25rem;
	background-color: white;
	border-radius: 0.75rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
}

#header {
	padding-top: 1px;
	padding-left: 20px;
	color: #4FD1C5;
}