:host {
	display: block;
	position: fixed;
}

#textWelcome {
	font-size: 1.5rem;
	color: var(--primary-color);
}
.text-gray {
	font-size: 0.9rem;
	color: var(--light-gray-color);
}

label {
	font-size: 0.9rem;
	font-weight: bold;
	margin-right: 0.5rem;
	color: var(--primary-color);
}

.input-css {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 10rem;
	font-size: 0.9rem;
	padding: 0.6rem 1rem;
	color: var(--dark-text-color);
	background: var(--default-bg-color);
	border-radius: var(--border-radius);
	border: 2px solid var(--primary-color);
}

.input-css::placeholder {
	color: var(--light-gray-color);
}

#usernameCon {
	margin-top: -0.5rem;
}

#passwordCon {
	margin-bottom: 0.5rem;
}

#loginButton, #btn42{
	margin-top: 0;
	max-width: 20rem;
	padding: 1rem 1;
	color: white;
	font-size: 0.9rem;
	font-weight: bold;
	border-radius: var(--border-radius);
	background-color: var(--primary-color);
}

#loginButton:hover, #btn42:hover {
    background-color: var(--primary-color-dark); 
}

#loginButton:active, #btn42:active {
    background-color: var(--primary-color-darker);
}