#signUpForm {
	display: flex;
	flex-direction: column;
    justify-content: center; 
    align-items: center; 
	margin-top: 1rem;
}

h3 {
	margin-top: -0.5rem;
	font-size: 1.5rem;
	color: #4FD1C5;
}

#photo {
	width: 10rem;
	height: 10rem;
	position: relative;       /* Set position relative to contain absolutely positioned children */
	border-radius: 0.75rem; 
	overflow: hidden;
	border: 2px solid #CBD5E0;
}

#photo img {
	position: absolute;       /* Position image absolutely */
	top: 0;                   /* Align image to the top of the container */
	left: 0;                  /* Align image to the left of the container */
	width: 100%;              /* Make the image fill the width of the container */
	height: 100%;             /* Make the image fill the height of the container */
	object-fit: cover;        /* Ensure the image covers the container */
}

#upload label {
	color: #4FD1C5;
	height: 1.5rem;
	width: 8rem;
	margin-top: 0.5rem;
	padding: 2px;
	background: white;
	border-radius: 0.75rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 2px solid #CBD5E0;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
	font-weight: bold;
}

#upload input {
	display: none;
}

#Form {
	margin-top: 1rem;
}

label {
	clear: #2D3748;
}

.input-css {
	margin-top: 5px;
	margin-bottom: 5px;
	width: 10rem;
	font-size: 0.9rem;
	color: #2D3748;
	background: #F8F9FA;
	border-radius: 0.75rem;
	padding: 0.6rem 1rem;
	border: 2px solid #4FD1C5;
}

.input-css::placeholder {
	color: #C4C4C4;
}

#username-con {
	margin-top: -0.5rem;
}

#password-con {
	margin-bottom: 1rem;
}

button {
	margin-top: 0rem;
	width: 10rem;
	height: 2rem;
	text-align: center;
	border-radius: 0.75rem;
	padding: 1rem 1;
	background-color: #4FD1C5;
	border-color: #4FD1C5;
	font-size: 0.9rem;
	color: white;
	font-weight: bold;
	margin-bottom: 0.5rem;
}