:root {
	--primary-color: #4FD1C5;
	--primary-color-dark: #49b4a9;
	--primary-color-darker: #3b9087;

	--dark-text-color: #2D3748;
	--light-gray-color: #C4C4C4;
	--default-bg-color: #F8F9FA;;

	--font-size: 0.8rem;
	--border-radius: 0.75rem;
	--box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02); 
}

body {
	margin: 0px;
	padding: 0px;
	background-color: var(--default-bg-color);
}
