#accountManagment {
	margin-top: 2vh;
	height: 70vh;
	min-height: 38rem;
	background-color: white;
	border-radius: 0.75rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
	/* background-color: rgb(129, 206, 234); */

}

#header {
	padding-top: 1px;
	padding-left: 20px;
	color: #4FD1C5;
}

#topic {
	padding-left: 60px;
	color: #677483;
}

#content {
	display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 2px solid #4FD1C5;
    padding: 10px;
    border-radius: 0.75rem;
	margin: 0 4vw;
}

#loginButton {
	margin-top: 0rem;
	width: 8rem;
	height: 2rem;
	text-align: center;
	border-radius: 0.75rem;
	padding: 1rem 1;
	background-color: white;
	border-color: #C4C4C4;
	font-size: 0.7rem;
}


#photo {
	width: 10rem;
	height: 10rem;
	position: relative;       /* Set position relative to contain absolutely positioned children */
	border-radius: 0.75rem; 
	overflow: hidden;         /* Hide overflow content */
}

#photo img {
	position: absolute;       /* Position image absolutely */
	top: 0;                   /* Align image to the top of the container */
	left: 0;                  /* Align image to the left of the container */
	width: 100%;              /* Make the image fill the width of the container */
	height: 100%;             /* Make the image fill the height of the container */
	object-fit: cover;        /* Ensure the image covers the container */
}