@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
	outline: 0;
	appearance: none;
	border: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-size: 0.88rem;
	background: #F8F9FA;
	user-select: none;
	overflow-x: hidden;
	color: #2D3748;
}

a {
	color: #2D3748;
}

img {
	display: block;
	width: 100%;
}

h1 {
	font-weight: 800;
	font-size: 1.8rem;
	color: #2D3748;
}

h2 {
	font-size: 1.4rem;
	color: #2D3748;
}

h3 {
	font-size: 0.87rem;
	color: #2D3748;
}

h4 {
	font-size: 0.8rem;
	color: #2D3748;
}

h5 {
	font-size: 0.77rem;
	color: #2D3748;
}

small {
	font-size: 0.75rem;
	color: #2D3748;
}

p {
	color: #2D3748;
}

b {
	color: #2D3748;
}

/* ========================================== NAV-BAR ========================================== */
#nav-bar {
	height: 8vh;
	min-height: 4rem;
	background-color: #F8F9FA;
	width: 100%;
	padding: 0.7rem 0;
	top: 0;
	z-index: 1;
	position: relative;
}

#nav-bar::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 4px;
	background: linear-gradient(to right, #F8F9FA, #D8DBDD, #F8F9FA); 
}

#nav-bar #container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.2rem;
}

#nav-bar #menu {
	border: 2px solid #2D3748;
	border-radius: 0;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	display: none;
}

#nav-bar #menu i {
	font-size: 1.4rem;
	color: #2D3748;
}


#nav-bar #logo {
	margin-left: 1.5rem;
	display: flex;
	gap: 0.5rem;
	align-items: center;
}

#nav-bar #logo i {
	font-size: 2rem;
	color: #2D3748;
}

#nav-bar #logo div {
	display: flex;
	align-items: center;
}

#nav-bar #logo h2 {
	margin: 0; 
	font-size: 1rem; 
	color: #2D3748; 
}

#nav-bar #profile {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#nav-bar #profile #profile-photo {
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 0.75rem;
	overflow: hidden; 
	position: relative; 
}

#nav-bar #profile #profile-photo img {
	display: block; /* Remove default inline spacing */
	width: 100%; 
	height: 100%; 
	object-fit: cover; /* Ensure the image covers the container */
	object-position: center; /* Center the image */
}
/* ============================================================================================= */

#div-content {
	display: flex;
	flex: 1; /* Take up remaining space */
	background-color: #F8F9FA;
}

#pro-file {
	display: block;
	margin-top: 0;
	width: 15vw;
	min-width: 12rem;
	background-color: #F8F9FA;
}

#div-middle {
	margin-top: 3vh;
	margin-right: 2vw;
	width: 50vw;
	background-color: #F8F9FA;
}

#div-right {
	margin-top: 3vh;
	margin-right: 2vw;
	width: 35vw;
	min-width: 15rem;
	background-color: #F8F9FA;
}

#footer {
	width: 100%;
	height: 3vh;
	min-height: 2rem;
	display: flex;
	align-items: center;
	padding-left: 15vw;
	margin-top: auto; 
	background-color: #F8F9FA;
}

#footer p {
	margin: 0px;
	font-size: 0.75rem;
	color: #C4C4C4;
}

#footer span {
	font-weight: bold;
	color: #4FD1C5;
}

@media screen and (max-width: 1200px) {
	#nav-bar #menu {
		display: flex;
	}
	#nav-bar #logo {
		display: none;
	}
	#pro-file {
		display: none;
		background-color: white;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

	}
	#div-middle {
		width: 60%;
		margin-left: 2vw;
		margin-right: 1vw;
	}
	#div-right {
		width: 40%; 
	}
}

@media screen and (max-width: 740px) {
	#nav-bar #menu {
		display: flex;
	}
	#nav-bar #logo {
		display: none;
	}
	#pro-file {
		display: none;
		margin-top: 0;
		width: 100%;
		background-color: white;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	}
	#div-content {
		flex-direction: column; 
		align-items: stretch; 
	}
	#div-middle {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
	#div-right {
		display: block; 
		width: 100%;
	}
	#footer {
		display: none;
	}
}
