#statistic {
	margin-top: 2vh;
	height: 70vh;
	min-height: 38rem;
	background-color: white;
	border-radius: 0.75rem;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
}

#header {
	padding-top: 1px;
	padding-left: 20px;
	color: #4FD1C5;
}

#content {
    width: 100%;
    display: flex;
    flex-direction: column; /* Arrange children in a column */
    align-items: center; /* Center children horizontally */
    justify-content: center; /* Center children vertically */
    gap: 1rem; /* Space between menu items */
}

#content .menu-item {
	display: flex;
	align-items: center;
	height: 2.5rem;
}

#content i {
    font-size: 1.4rem;
    color: #4FD1C5;
    margin-left: 0.5rem;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.0rem; 
    height: 2.0rem; 
    border-radius: 0.75rem; 
    background-color: #F8F9FA;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.02);
    border: 2px solid #4FD1C5; /* Add border with specific color */
}


#content .menu-item h3 {
	margin-left: 0.5rem;
	font-size: 0.8rem;
	/* color: #2D3748; */
	color: #4FD1C5;
}
#content .menu-item p {
	margin-left: 0.5rem;
	font-size: 0.9rem;
	color: #677483;
}